body {
    margin: 0;
    background-color: #1F2937;
    font-family: Karla;
    padding: 10rem 10rem 10rem 6rem;
    align-items: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    padding: 0;
    margin: 0;
}
.title h1{
    margin: 0;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: 2.5rem; /* 100% */
    letter-spacing: -0.0625rem;
}

.title-1 {
    color: white;
}
.title-2 {
    color: #4ADF86;
}
.title-subheading {
    color: var(--Medium-grey, #D5D4D8);
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem; /* 140% */
}

.button-container {
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 3rem;
}

.slider-container {
    margin-bottom: 2rem;

    padding-right: 0.9375rem;
}

.slider-title {
    color: var(--white, #FFF);
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem; /* 150% */
}

.slider {
    -webkit-appearance: none;
    appearance: none; 
    width: 100%;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 16px;

    width: 10rem;
    margin-top: 0;
    background: #273549;
    opacity: 0.7;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none; 
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #10B981;
    box-shadow: -407px 0 0 400px #10B981;
  }

  .slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none; 
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #10B981;
    box-shadow: -407px 0 0 400px #10B981;
  }


.button-hr {
    border: 1px solid #2F3E53;
    width: 100%;
    margin: 3rem 0rem;
}

.submit-btn {
    border-radius: 0.38rem;
    background: #10B981;

    color: var(--white, #FFF);
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem; /* 150% */
    padding: 0.5625rem 1.0625rem 0.5625rem 0.9375rem;
}

.output {
    display: flex;
    gap: 5rem;
}

.output-container {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-direction: column;
}

.output-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 0.38rem;
    width: 20rem;
    height: 2.4375rem;
    flex-shrink: 0;
    background-color: #273549;

    color: #55F991;
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem; /* 200% */
}

.badge {
    color: white;
    font-family: Inter;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: max-content;
    margin: 0;
}